/* theme dRK nd light css */
:root {
    --dark-grey: #191a1b;
    --grey: #232626;
    --white: #ffffff;
    --off-white: #e4e4e4;

    --orange-light-color: #FF5D3D;
    --orange-dark-color: #E04022;
    --blue-dark-color: #104399;


    /* begin:dark code */
    --primary-color: #191a1b;
    --secondary-color: #232626;

    --font-color: #ffffff;
    --mute-color: #e4e4e4;

    --bg-color: #232626;
    --bg-font-color: #e4e4e4;

    --heading-color: #e4e4e4;
    --btn-font-color: #191a1b;

    --card-body-grid-1: #252929;
    --card-body-grid-2: #202222;

    --card-body-grid-3: #242628;

    --shadow-light: #1e2020;
    --shadow-dark: #282c2c;

}
/* end:dark code */
/* begin:light code */
[data-theme="light"] {
    --primary-color: #ffffff;
    --secondary-color: #e4e4e4;

    --font-color: #191a1b;
    --mute-color: #232626;

    --bg-color: #e4e4e4;
    --bg-font-color: #232626;

    --heading-color: #191a1b;
    --btn-font-color: #e4e4e4;

    --card-body-grid-1: #f4f4f4;
    --card-body-grid-2: #cdcdcd;

    --card-body-grid-3: #f1ebeb;

    --shadow-light: #c2c2c2;
    --shadow-dark: #ffffff;

}
/* end: light code */

body {
    color: var(--font-color);
    background: var(--secondary-color);
}

body a {
    color: var(--font-color);
}

.offcanvas {
    background: var(--primary-color);
}

i{
    color: var(--font-color);
}

/* begin:switch dark and light*/
.switch.switch-outline.switch-dark input:empty ~ span:after{
    background-color: var(--grey);
}
.switch.switch-outline.switch-dark input:empty ~ span:before{
    border: 2px solid var(--grey);
    background-color: transparent;
}
.switch.switch-outline.switch-dark input:checked ~ span:before {
    border: 2px solid var(--white);
    background-color: transparent;
}
.switch.switch-outline.switch-dark input:checked ~ span:after {
    color: var(--grey);;
    background-color: var(--white);
}

.switch input:empty ~ span:after{
    background-color: var(--orange-light-color);
}
/* end: switch  */

/* begin:bg color */

.bg-facebook{
    background-image: linear-gradient(145deg, #4C69BA, #3B55A0) !important;
    color: var(--white) !important;
}
.bg-facebook i{
    color: var(--white);
}
.bg-instagram{
    background-image: linear-gradient(145deg, #d047d1, #ff0000) !important;
    color: var(--white) !important;
}
.bg-instagram i{
    color: var(--white);
}
.bg-twitter{
    background-image: linear-gradient(145deg, #10bbff, #00ACEE) !important;
    color: var(--white) !important;
}
.bg-twitter i{
    color: var(--white);
}
.bg-linkedin{
    background-image: linear-gradient(145deg, #1080b4, #0e76a8) !important;
    color: var(--white) !important;
}
.bg-linkedin i{
    color: var(--white);
}
.bg-youtube{
    background-image: linear-gradient(145deg, #f53131, #ff0000) !important;
    color: var(--white) !important;
}

.bg-youtube i{
    color: var(--white);
}
.bg-pinterest{
    background-image: linear-gradient(145deg, #f53131, #E60023) !important;
    color: var(--white) !important;
}
.bg-pinterest i{
    color: var(--white);
}
.bg-tumblr{
    background-image: linear-gradient(145deg, #3d6183, #34526f) !important;
    color: var(--white) !important;
}
.bg-tumblr i{
    color: var(--white);
}
.bg-google{
    background-image: linear-gradient(145deg, #4b8efa, #4285F4) !important;
    color: var(--white) !important;
}
.bg-google i{
    color: var(--white);
}
.bg-github{
    background-image: linear-gradient(145deg, #4078c0, #4078c0) !important;
    color: var(--white) !important;
}
.bg-github i{
    color: var(--white);
}
/* end:bg color */

/* header */

@media (min-width: 992px) {
    .header .header-top {
        background-color: var(--secondary-color);
    }

    .header-tabs .nav-item .nav-link {
        color: var(--font-color);
    }
    .header-tabs .nav-item .nav-link:focus, .header-tabs .nav-item .nav-link:hover {
        color: var(--font-color);
    }
    .header-tabs .nav-item .nav-link.active {
        background-color: var(--primary-color);
        color: var(--font-color);
    }
}
.navi .navi-item .navi-link .navi-text{
    color: var(--font-color);
}
.header-mobile{
    background-color: var(--secondary-color);
}
@media (max-width: 991.98px){
    .topbar {
        color: var(--font-color);
        background-color: var(--secondary-color);
    }
}
.header-tabs .nav-item .nav-link{
    color: var(--font-color);
}
.header .header-bottom{
    background-color: var(--primary-color);
}
.header-menu .menu-nav > .menu-item .menu-submenu > .menu-subnav > .menu-item > .menu-link .menu-text{
    color: var(--font-color);
}
@media (min-width: 992px){
    .header-menu .menu-nav > .menu-item .menu-submenu {
        background-color: var(--primary-color);
    }

    .header-menu .menu-nav > .menu-item > .menu-link{
        padding: 0.65rem 1rem;
    }

    .header-menu .menu-nav > .menu-item > .menu-link .menu-text {
        color: var(--font-color);
    }

    .header-menu .menu-nav > .menu-item:hover:not(.menu-item-here):not(.menu-item-active) > .menu-link .menu-text, .header-menu .menu-nav > .menu-item.menu-item-hover:not(.menu-item-here):not(.menu-item-active) > .menu-link .menu-text{
        color: var(--mute-color);
    }
}

.nav.nav-pills .show > .nav-link .nav-text, .nav.nav-pills .nav-link.active .nav-text{
    color: var(--font-color);
}

.nav.nav-pills .show > .nav-link .nav-text, .nav.nav-pills .nav-link.active .nav-text .fa-facebook{
    color: #3B55A0 !important;
}

.nav.nav-pills .show > .nav-link .nav-text, .nav.nav-pills .nav-link.active .nav-text .fa-twitter{
    color: #00ACEE !important;
}

.nav.nav-pills .show > .nav-link .nav-text, .nav.nav-pills .nav-link.active .nav-text .fa-instagram{
    color: #d047d1 !important;
}

.nav.nav-pills .show > .nav-link .nav-text, .nav.nav-pills .nav-link.active .nav-text .fa-linkedin{
    color: #0e76a8 !important;
}

.nav.nav-pills .show > .nav-link .nav-text, .nav.nav-pills .nav-link.active .nav-text .fa-youtube{
    color: #ff0000 !important;
}

.nav.nav-pills .show > .nav-link .nav-text, .nav.nav-pills .nav-link.active .nav-text .fa-pinterest{
    color: #ff0000 !important;
}

.nav.nav-pills .show > .nav-link .nav-text, .nav.nav-pills .nav-link.active .nav-text .fa-pinterest{
    color: #E60023 !important;
}

.nav.nav-pills .show > .nav-link .nav-text, .nav.nav-pills .nav-link.active .nav-text .fa-tumblr{
    color: #34526f !important;
}

.nav.nav-pills .show > .nav-link, .nav.nav-pills .nav-link.active{
    color: var(--font-color);
    background-color: var(--primary-color);
    background-image: linear-gradient(145deg, var(--card-body-grid-1), var(--card-body-grid-2));
    box-shadow: 6px 6px 10px var(--shadow-light), -6px -6px 10px var(--shadow-dark);
}

/* end:header */

/* card */

.card, .card.card-custom {
    border: 0px solid transparent;
    background-color: var(--primary-color);
    background-image: linear-gradient(145deg, var(--card-body-grid-1), var(--card-body-grid-2));
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
    box-shadow: 6px 6px 10px var(--shadow-light), -6px -6px 10px var(--shadow-dark);
    color: var(--font-color);
}
.card.card-custom > .card-header .card-title, .card.card-custom > .card-header .card-title .card-label{
    color: var(--font-color);
}
/* end:card */

/* button */
.btn {
    background-image: linear-gradient(145deg, var(--card-body-grid-1), var(--card-body-grid-2));
    background-position: 0% 0%, 100% 100%;
    background-size: 200% 200%;
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
    color: var(--font-color);
    text-shadow: inherit;
    box-shadow: 6px 6px 10px var(--shadow-light), -6px -6px 10px var(--shadow-dark);
    transition: 0.5s ease-in-out;
    border: 0px solid transparent;
}


.btn:hover, .btn.hover, .btn:active, .btn.active {
    text-decoration: none;
    background-position: 100% 100%, 0% 0%;
    color: var(--font-color);
}

.btn:focus, .btn.focus {
    outline: 0;
}

.btn.disabled, .btn:disabled {
    opacity: 0.65;
    pointer-events: none;
}
.btn i{
    color: var(--font-color);
}

.btn-facebook{
    background-image: linear-gradient(145deg, #4C69BA, #3B55A0) !important;
    color: var(--white);
}
.btn-instagram{
    background-image: linear-gradient(145deg, #d047d1, #ff0000) !important;
    color: var(--white);
}
.btn-twitter{
    background-image: linear-gradient(145deg, #10bbff, #00ACEE) !important;
    color: var(--white);
}
.btn-linkedin{
    background-image: linear-gradient(145deg, #1080b4, #0e76a8) !important;
    color: var(--white);
}
.btn-youtube{
    background-image: linear-gradient(145deg, #f53131, #ff0000) !important;
    color: var(--white);
}
.btn-pinterest{
    background-image: linear-gradient(145deg, #f53131, #E60023) !important;
    color: var(--white);
}
.btn-tumblr{
    background-image: linear-gradient(145deg, #3d6183, #34526f) !important;
    color: var(--white);
}

.bootstrap-select > .dropdown-toggle.btn-light, .bootstrap-select > .dropdown-toggle.btn-secondary{
    background-image: linear-gradient(145deg, var(--card-body-grid-1), var(--card-body-grid-2)) !important;
    background-position: 0% 0%, 100% 100%;
    background-size: 200% 200%;
    background-clip: padding-box, border-box;
    background-origin: padding-box, border-box;
    color: var(--font-color);
    text-shadow: inherit;
    box-shadow: 6px 6px 10px var(--shadow-light), -6px -6px 10px var(--shadow-dark);
    transition: 0.5s ease-in-out;
    border: 0px solid transparent;
}
.bootstrap-select .dropdown-menu.inner > li.selected > a{
    background: var(--secondary-color);
}
.bootstrap-select .dropdown-menu.inner > li > a .text{
    color: var(--font-color);
}
.bootstrap-select .dropdown-menu.inner > li > a .text:hover {
    color: var(--font-color);
}
.bootstrap-select .dropdown-menu.inner > li.selected > a .text, .bootstrap-select .dropdown-menu.inner > li:hover > a .text{
    color: var(--font-color);
}
.bootstrap-select .dropdown-menu{
    border: 1px solid var(--primary-color);
}

.dropdown-menu{
    -webkit-box-shadow: 6px 6px 10px var(--shadow-light), -6px -6px 10px var(--shadow-dark);
    box-shadow: 6px 6px 10px var(--shadow-light), -6px -6px 10px var(--shadow-dark);
}

.dropdown-item {
    color: var(--font-color);
    background-color: transparent;
    border: 0;
}
.dropdown-item:hover, .dropdown-item:focus {
    color: var(--font-color);
    background-color: var(--secondary-color);; }
.dropdown-item.active, .dropdown-item:active {
    color: var(--font-color);
    background-color: var(--secondary-color); }
.dropdown-item.disabled, .dropdown-item:disabled {
    color: var(--mute-color);
    background-color: transparent;
}

.select2-dropdown, .select2-container--default .select2-dropdown{
    background-color: var(--secondary-color);
    border: none;
    -webkit-box-shadow: 6px 6px 10px var(--shadow-light), -6px -6px 10px var(--shadow-dark);
    box-shadow: 6px 6px 10px var(--shadow-light), -6px -6px 10px var(--shadow-dark);
    padding: 0.65rem 1rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    font-size: 1.175rem !important;
    height: auto !important;
    border-radius: 0.85rem !important;
}
.select2-container--default .select2-selection--multiple{
    background-color: #3a3b3c;
    padding: 0.65rem 1rem;
    border-radius: 0.85rem !important;
    border: none;
}
.select2-container--default .select2-results__option.select2-results__option--highlighted{
    background: var(--primary-color);
    color: var(--font-color);
}
/* end:button */

/* Sb_login */
#Sb_login{
    background-color: var(--secondary-color);
}
/* end:Sb_login */


/* form */
.form-control {
    background-color: #3a3b3c;
    color: #F3F6F9;
    border: 1px solid #3a3b3c;
}
.form-control.form-control-solid {
    background-color: #3a3b3c;
    border-color: #3a3b3c;
    color: #F3F6F9;
}
.form-group label {
    color: var(--white);
}

/* end:form */

.dropdown-menu{
    color: var(--font-color);
    background-color: var(--secondary-color);
}

.apexcharts-menu {
    background: var(--bg-color) !important;
}

.apexcharts-menu .apexcharts-menu-item:hover {
    background-color: var(--primary-color) !important;
}

/* modal */
.modal .modal-header .modal-title{
    color: var(--font-color) !important;
}
.modal-header{
    border-bottom: 1px solid var(--secondary-color);
}
.modal-content{
    background-color: var(--primary-color);
    color: var(--font-color);
}
.modal-footer{
    border-top: 1px solid var(--primary-color);
}
/* sweetalert2 */
.swal2-popup{
    background: var(--primary-color);
}
.swal2-popup .swal2-content{
    color: var(--font-color);
}
.swal2-popup .swal2-title{
    color: var(--font-color);
}
/* begin:Star rating */
.rating-css div {
    color: var(--orange-light-color);
    font-family: sans-serif;
    font-weight: 800;
    text-transform: uppercase;
}
.rating-css input {
    display: none;
}
.rating-css input + label {
    font-size: 10px;
    text-shadow: 1px 1px 0 var(--mute-color);
    cursor: pointer;
}
.rating-css input:checked + label ~ label {
    color: var(--mute-color);
}
.rating-css label:active {
    transform: scale(0.8);
    transition: 0.3s ease;
}
/* end:Star rating */



/* begin:images and video upload css */

#media-list li img {
    width: 100px;
    height: 100px;
}

#media-list li {
    height: 102px;
}

#media-list li video,
#media-list li iframe {
    width: 100px;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}
#media-list li iframe {
    height: 100px;
}
div#hint_brand .modal-dialog {
    top: 110px;
    width: 567px;
    max-width: 100%;
}

li.myupload span {
    position: relative;
    width: 100px;
    height: 100px;
    display: block;
    background: var(--secondary-color);
}

li.myupload span input {
    opacity: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

li.myupload span i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--font-color);
    font-size: 30px;
}

#media-list li {
    float: left;
    border: 1px dashed var(--secondary-color);
    position: relative;
    margin: 0 5px 5px 0;
    width: 102px;
}

#media-list li:last-child {
    margin-right: 0;
}

.post-thumb {
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    display: none;
}

#media-list li:hover .post-thumb {
    display: block;
}

a.remove-pic {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 12px;
    color: var(--font-color);
    border: 1px solid var(--primary-color);
    border-radius: 50%;
    display: block;
    height: 25px;
    width: 25px;
    text-align: center;
    padding: 3px 0;
}

.inner-post-thumb {
    position: relative;
}

.user-post-text-wrap {
    position: relative;
}

.user-pic-post {
    position: absolute;
    width: 50px;
    height: 50px;
    top: 0;
    left: 0;
}

.user-pic-post img {
    width: 100%;
}

.user-txt-post {
    padding: 0 0 0 65px;
}

textarea.form-control.upostTextarea {
    border: 0;
    box-shadow: none;
    height: 85px;
    resize: none;
}

.user-post-text-wrap {
    border-bottom: 1px solid var(--secondary-color);
    margin: 0 0 15px;
}

.user-post-btn-wrap {
    margin: 25px 0 0;
}

ul.btn-nav {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul.btn-nav li {
    position: relative;
    float: left;
    margin: 0 10px 0 0;
}
ul.btn-nav li span {
    cursor: pointer;
}

ul.btn-nav li span input {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 9;
    opacity: 0;
    filter: alpha(opacity=100);
    cursor: pointer;
}

ul#media-list {
    list-style: none;
    padding: 0;
    margin: 0;
}
/* end:images and video upload css  */